In [ ]:
import pandas as pd

roi1 : [16686.59, 5875]
roi2 : [12144.59, 6710]
roi3 : [9634.59, 6553]

In [5]:
roi_data = pd.read_excel('../../data/22-IMC-H-27_ROI.xlsx')

patient = '15T011146-16'

roi_data = roi_data[roi_data['Tissu name'] == patient]
roi_data

      Tissu name         ROI name      X      Y  Width  Height
18  15T011146-16  15T011146-16_01  19537  10755   2589    1612
19  15T011146-16  15T011146-16_02  24079  11590   2147    1906
20  15T011146-16  15T011146-16_03  26589  11433   2407    1757

In [6]:
qwidth = 24081.59
qheight = 18640.07
qorigin = [12142,4880]

def ptq(coords):
    '''Platform to Qupath coordinates'''
    return [qwidth-(coords[0] - qorigin[0]),(coords[1]-qorigin[1])]


roi1 = [19537,10755]
roi2 = [24079,11590]
roi3 = [26589,11433]


print('roi1 : {}\nroi2 : {}\nroi3 : {}\n'.format(ptq(roi1),ptq(roi2),ptq(roi3)))


#df = pd.read_csv('15T011146-16 HE - 2022-06-09 13.57.csv')

roi1 : [16686.59, 5875]
roi2 : [12144.59, 6710]
roi3 : [9634.59, 6553]